body {
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff !important; /* 背景色を黒に設定しようとしたが断念 */
}


.wrapper {
    margin: 40px;
}

.event-container {
    display: flex;
    justify-content: flex-start; /* 左揃えに配置 */
    align-items: center;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.event-caption {
    flex: 1;
    margin-right: 20px; /* 写真との間隔を空ける */
}

.photo-Yasudakodo-Naibu img {
    max-width: 400px; /* 写真の最大幅を指定 */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.FromChairperson {
    display: flex;
    flex-direction: column; /* 各introductionを縦に並べる */
    gap: 40px; /* 各introduction間のスペースを空ける */
    margin-top: 20px;
}

.introduction {
    display: flex; /* 各introduction内で写真とテキストを横に並べる */
    align-items: center; /* 垂直方向に中央揃え */
    gap: 20px; /* 写真とテキストの間のスペース */
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center; /* 写真と名前を中央揃え */
    justify-content: flex-start
}

.photo-item {
    width: 300px; /* 固定幅 */
    height: 400px; /* 固定高さ */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px; /* 写真と名前の間のスペース */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
}

.photo-text {
    text-align: center; /* 名前を中央揃え */
}

.photo-text h3 {
    margin: 0 0 5px 0;
    font-size: 1.5em;
}

.intro-text {
    max-width: 600px; /* テキストの最大幅を制限 */
    text-align: justify; /* テキストの均等配置 */
}

.intro-text p {
    margin: 0 0 10px 0;
}

.serif-name {
    font-family: serif; /* フォントをserifに設定 */
}

.Century-name {
    font-family: Century;
}
